# Java compilados y bytecode
*.class
*.jar
*.war
target/

# Python y entornos virtuales
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Archivos de ejecucion y logs
*.log
*.jmx
*.csv

# IDEs y SO
.vscode/
.idea/
.DS_Store
